#Opzione per vedere tutte le estensioni.
Options -MultiViews

#Opzione per poter modificare l'url.
RewriteEngine On

#Opzione serve a bloccare la navigazione tra cartelle.
Options -Indexes

#Queste 3 condizioni servono a modificare la regola se non esiste il valore.
RewriteCond %{REQUEST_FILENAME} !-d #directory
RewriteCond %{REQUEST_FILENAME} !-f #file
RewriteCond %{REQUEST_FILENAME} !-l #link

RewriteRule ^error/?$ php/error.php [NC]

# Enable Error Documents
# (404,File Not Found) | (403,Forbidden) | (500,Internal Server Error)
ErrorDocument 404 /error
ErrorDocument 403 /error

php_value post_max_size 500M
php_value upload_max_filesize 500M